body {
    background-color: #ecf0f5;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.successful-message {
    padding: 10px;
    margin-left: 20px;
    margin-top: 40px;
    background-color: #ced4da;
}


.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/* .logo {
    display: flex;
    justify-content: center;
} */

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.title {
    font-size: 1.25rem;
    text-align: center;
    margin: 1rem 0 1.5rem 0;
}

.form-login {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.25rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    font-size: 1rem;
}

.form-control {
    background-color: #fbfbfb;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.action-btn {
    display: flex;
}

.btn {
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn-primary {
    color: #fff;
    background-color: #175DDC;
    border-color: #175DDC;
}

.btn-block {
    display: block;
    width: 100%;
}

.mr-t {
    margin-top: 0 !important;
}

.btn + .btn {
    margin-left: 10px;
}

button.btn-primary:hover {
    background-color: #134eb9;
    border-color: #1249ae;
}

a.btn:hover {
    background-color: #ced4da;
    border-color: #ced4da;
    color: #333;
}


.error_msg {
    color: #cc0000;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}